<li class="job">
  <%= link_to job.title , job.link , :target => "_blank"   %>
  <i><%= job.platform %></i>

  <p class="keyword_details">
    <%= job.keywords %>
  </p>

  <p>
    <%= job.description %>
  </p>

</li>