<li class="btn btn-info">
  <span><%= keyword.content %></span>
  <%= link_to " x", keyword, :method => :delete, :remote => true, :class => "keyword",
              :title => "Click to delete" %>
</li>