// Place all the styles related to the JobFeed controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#keyword_form {
  margin-bottom: 0.5em;
  #keyword_input_wrapper {
    float: left;
    margin-right: 0.5em;
    #keyword_content {
      margin-bottom: 0px;
    }
  }

}

#keywords_container {
  overflow: auto;
  p {
    float: left;
    margin-top: 0.3em;
    margin-right: 0.6em;
  }

  ul {
    list-style: none outside none;
    li {
      float: left;
      a {
        margin-left: 0.6em;
      }
    }
  }
}

#jobs_container {
  clear: both;
  margin-top: 1em;
  position: relative;

  #jobs_loading {
    position: absolute;
    top: 0.9em;
    right: 25em;
    font-style: italic;
  }

  #num_jobs {
    position: absolute;
    top: 0.7em;
    right: 12em;
    font-style: italic;
  }

  #refresh_btn {
    position: absolute;
    top: 0.4em;
    right: 1em;
  }

  ul {
    list-style: none outside none;
    margin-left: 0;

    li {
      border: 0.1em solid black;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px; /* future proofing */
      position: relative;
      padding: 0.4em 0.8em 0.4em 0.8em;
      margin-top: 1em;

      .job_platform {
        font-style: italic;
        font-weight: bold;
      }

      .keyword_details {
        font-style: italic;
        word-wrap: break-word;
      }
    }
  }
}